.form__input {
    max-width: 100%;
    min-width: 80%;
    margin: 8px;
    display: block;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #D8D9DA;
}

.form__label {
    color: #D8D9DA;
    margin: 8px;
    font-size: 15px;
}

.text__center {
    text-align: center;
}

